{{ define "content" }}
    <h3 class="index-hero-text">Welcome to the Onomatopoedia!<br/>Your friendly neighborhood resource for discovering linguistic articulations of sonic utterances.</h3>
    <div class="entries-container">
        {{ if eq (len .Entries) 0 }}
            <p>No results were found.</p>
        {{ else }}
            {{ range $entry := .Entries }}
                <div class="entry">
                    <p>{{ $entry.DisplayName }}</p>
                </div>
            {{ end }}
        {{ end }}
    </div>
{{ end }}